{% extends 'basic.html'%}

{%block title%} About Vicky's Fashion {%endblock%}

{% block body %} 


<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
    <h1 class="bd-title" id="content">Vicky Fashion</h1>
   

<div class="bd-example">
<div class="jumbotron">
<h1 class="display-4"><b>This Is Vicky Fashion every thing is here about vicky's fashion</b></h1>
<p class="lead">is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company.[5] The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

    The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal.[6][7] As of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry.[8] Flipkart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[9] Flipkart also owns PhonePe, a mobile payments service based on the UPI.</p>
<hr class="my-4" />
</div>
</div>

  </main>


{% endblock %}